@font-face {
    font-family: "Overpass_Mono";
    src: url(font/OverpassMono-VariableFont_wght.ttf);
}

* {
    font-family: Overpass_Mono;
    font-size: 18px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

a {
    padding: 5px;
}

p {
    margin: 5px;
}


.padding {
    display: flex;
    margin: 0 10px 30px 10px;
    justify-content: center;
    align-items: center;
}

.margin {
    margin: 0 10px 0 10px;
    padding: 10px;
}

button {
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 30px;
    align-self: center;
    margin-left: 10px;
}

.numberContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.numberDivs {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: rgb(210, 209, 209);
    margin: 10px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

.box {
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 2px;
}

input {
    text-align: center;
}




.found {
    background-color: greenyellow;
}



.target:hover {
    background-color: orange;
    color: orange;

}

.target {
    background-color: red;
    color: red;
}

.divis:hover {
    background-color: lightblue;
}


#sum_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sum_row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.to_be_removed {
    background-color: orange;
}

.removed {
    background-color: red;
}

#removed_number_box {
    width: 30%;
}